/* Default light tehme*/
:root{
    --bg: whitesmoke;
    --text: black;
}

/* Dark theme*/
html[data-theme="darkTheme"]{
    --bg: black;
    --text: whitesmoke;
}

/* Use theme variables*/
body{
    background-color: var(--bg);
    color: var(--text);
    transition: background 0.3s ease, color 0.3s ease;
}

button{
    background: var(--bg);
    color: var(--text);
    border: 2px solid var(--text);
    padding: 10px 10px;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

button:hover {
    background: var(--text);
    color: var(--bg);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.grid-item {
  background-color: rgb(170, 45, 170);
  padding: 20px;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 600px) {
  .responsive-box {
    background-color: rgb(170, 45, 170);
  }
}

@media (min-width: 601px) {
  .responsive-box {
    background-color: rgb(170, 45, 170);
  }
}

.box {
  background-color: rgb(170, 45, 170);
  padding: 10px;
  text-align: center;
}

.quote {
        position: relative;
        padding-left: 20px;
        font-style: italic;
        color: var(--text);
      }
      
      .quote::before {
        content: '“';
        font-size: 40px;
        position: absolute;
        left: 0;
        top: 0;
        color: var(--text);
      }

.filterImg{
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.filterImg:hover{
    filter: grayscale(0%);
}

.pseudoList li:nth-child(odd){
    background-color: var(--text);
    color: var(--bg);
}

